.headline{
	font-size: 20px;
	font-weight: 600;
}
input{
	/*去除阴影*/
	box-shadow:none;
	/*聚焦input的蓝色边框*/
	outline: none;
	/*textarea 禁止拖拽*/
	resize: none; 
	/*去除边框*/
	border: none; 
	/*常用于IOS下移除原生样式*/

	-webkit-appearance: none;
	/*点击高亮的颜色*/
	-webkit-tap-highlight-color:rgba(0,0,0,0); 

	width: 80%;
	height: 80%;
}

.toolbar-card{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 25px;
}
.input{
	background-color: #f1f3f4;
}
.mc-appbar .toolbar .search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 722px;
    height: 38px;
    margin-left: 30px;
    background-color: #f1f3f4;
    border-radius: 8px;
    transition-duration: .18s;
    transition-property: background-color,box-shadow;
}
#myInput {
	font-size:16px;
}
#myUL {
	/* 移除默认的列表样式 */
	list-style-type:none;
	padding:0;
	margin-top:20px;
}
#myUL li a {
	border:1px solid #ddd;
	/* 链接添加边框 */
			margin-top:-1px;
	background-color:#f6f6f6;
	padding:12px;
	text-decoration:none;
	font-size:18px;
	color:black;
	display:block;
}
#myUL li a.header {
	background-color:#e2e2e2;
	cursor:default;
}
#myUL li a:hover:not(.header) {
	background-color:#eee;
}
